.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sub-cont{
  width: 80%;
}
.selected-tab{
  /* color: green; */
  font-weight: bold;
}
.header{
  height: 5rem;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-form{
  display: flex;
  flex-direction: column;
}
.input-field{
  height: 10rem;
  max-width: 25rem;
  padding: 5px;
  
}
.increament-field{
  display: flex;
  justify-content: space-between;
}
.counter{
  width: 5rem;
  height: 1rem;
}
.btn{
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  /* background-color: green; */
  color: white;
}
.table-cont{
  display: flex;
  flex-wrap: wrap;
}
.custom-color{
  background-color: rgb(67, 66, 66) !important;
  color: white !important;
}
table {
  border: 2px solid forestgreen;
  max-width: 370px;
  margin: 10px;
  /* height: 200px; */
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
.marginT-right-5px{
  margin-right: 5px;
}
.checkBox-size{
  width: 17px;
  height: 17px;
  border-radius: 10px !important;
}

@media only screen and (max-width: 600px) {
  .sub-cont{
    width: 100%;
    padding: 5px;
  }
}